body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a{
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
  margin: 0px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  background-color: #fff;
  height: 2px;
  width: 0px;
  margin-top: 3px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111;
    padding: 16px 12px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e;
    transition: .3s;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a{
    background: #111;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
  }
}