.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#FFC800, #F2A60D);
  color: var(--cor-12);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.35;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: max-content;
  cursor: pointer;
  border: none;
}

.botao:hover {
  background: linear-gradient(#FFB60D, #E59317);
}

.botaoSeta {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#FFC800, #F2A60D);
  color: var(--cor-12);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.35;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: max-content;
  cursor: pointer;
}

.botaoSeta::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 18px;
  margin-left: 12px;
  transition: .2s;
  background-image: url(../../img/icones/seta.svg);
  background-repeat: no-repeat;
  transition: transform 0.2s;
}

.botaoSeta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .botao, .botaoSeta{
    padding: 12px 16px;
    font-size: 15px;
  }
}

.botaoSecundario {
  padding: 16px 32px;
  display: inline-block;
  background-color: var(--cor-10);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: var(--cor-0);
  font-size: 17px;
  line-height: 1.33;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.botaoSecundario:hover {
  background-color: var(--cor-8);
}

.link {
  font-family: 'Poppins', sans-serif;
  color: var(--cor-p1);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  display: inline-block;
  transition: .2s;
}

.link::after {
  content: "";
  display: block;
  width: 254px;
  height: 4px;
  background-color: currentColor;
  position: absolute;
}

.link:hover {
  color: var(--cor-0);
}

/* titulos internos */

.titulo {
  background: url('../../img/dec/top-right.svg') no-repeat right 20px;
}
.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}