.header-bg {
  background-color: var(--cor-12);
  margin: 0px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  color: var(--cor-0);
  font-size: 18px;
  position: relative;
  font-family: 'IBM Plex Mono';
  font-weight: bold;
}

.header-menu a:after {
  content: "";
  display: block;
  background-color: var(--cor-0);
  height: 2px;
  width: 0px;
  margin-top: 3px;
  transition: .3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after{
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 16px 12px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
    transition: .3s;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
  }
}